body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  margin: 0;
}

header {
  padding: 12px;
  background-color: skyblue;
  text-align: center;
}

main {
  width: 100%;
  padding: 12px;
  margin: 0 auto;
  max-width: 1200px;
}

* {
  box-sizing: border-box;
}
